<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Akademmistechko</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>409.5</real>
			<real>681.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>130</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Zhytomyrska</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>478</integer>
			<real>747.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>2</integer>
				<key>interval</key>
				<integer>160</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sviatoshyn</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>561.5</real>
			<real>830.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>3</integer>
				<key>interval</key>
				<integer>80</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Nyvky</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>629.5</real>
			<real>899.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Beresteiska</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>719</integer>
			<real>988.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>170</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Shuliavska</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>798</integer>
			<real>1068.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>6</integer>
				<key>interval</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Politekhnichnyi Instytut</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>879.5</real>
			<integer>1149</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>7</integer>
				<key>interval</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vokzalna</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>1067.5</real>
			<real>1134.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>8</integer>
				<key>interval</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Universytet</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>1140</integer>
			<integer>1063</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>9</integer>
				<key>interval</key>
				<integer>110</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Teatralna</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>1514.5</real>
			<real>989.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>10</integer>
				<key>interval</key>
				<integer>90</integer>
			</dict>
            <dict>
                <key>station</key>
                <integer>21</integer>
                <key>interval</key>
                <integer>180</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Khreshchatyk</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>1722.5</real>
			<real>989.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>11</integer>
				<key>interval</key>
				<integer>120</integer>
			</dict>
            <dict>
                <key>station</key>
                <integer>41</integer>
                <key>interval</key>
                <integer>180</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Arsenalna</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>1925.5</real>
			<real>1063.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>12</integer>
				<key>interval</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dnipro</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>1998</integer>
			<integer>1135</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>13</integer>
				<key>interval</key>
				<integer>140</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hidropark</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>2118</integer>
			<real>1183.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>14</integer>
				<key>interval</key>
				<integer>140</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Livoberezhna</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>2251.5</real>
			<integer>1151</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>15</integer>
				<key>interval</key>
				<integer>110</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Darnytsia</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<real>2322.5</real>
			<integer>1080</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>16</integer>
				<key>interval</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Chernihivska</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>2385</integer>
			<real>1017.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>17</integer>
				<key>interval</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lisova</string>
		<key>line</key>
		<string>Red</string>
		<key>position</key>
		<array>
			<integer>2457</integer>
			<real>945.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>16</integer>
                <key>interval</key>
                <integer>120</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Syrets</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1166.5</real>
			<real>610.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>19</integer>
				<key>interval</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dorohozhychi</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<integer>1273</integer>
			<integer>717</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>20</integer>
				<key>interval</key>
				<integer>200</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lukianivska</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<integer>1356</integer>
			<integer>800</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>21</integer>
				<key>interval</key>
				<integer>270</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoloti Vorota</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<integer>1465</integer>
			<real>937.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>22</integer>
				<key>interval</key>
				<integer>75</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Palats Sportu</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1603.5</real>
			<real>1214.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>23</integer>
				<key>interval</key>
				<integer>90</integer>
			</dict>
            <dict>
                <key>station</key>
                <integer>42</integer>
                <key>interval</key>
                <integer>180</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Klovska</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1672.5</real>
			<real>1332.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>24</integer>
				<key>interval</key>
				<integer>105</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pecherska</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1672.5</real>
			<real>1425.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
		<array>
			<dict>
				<key>station</key>
				<integer>25</integer>
				<key>interval</key>
				<integer>90</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Druzhby Narodiv</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1672.5</real>
			<real>1518.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>26</integer>
                <key>interval</key>
                <integer>135</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vydubychi</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1724.5</real>
			<real>1632.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>27</integer>
                <key>interval</key>
                <integer>290</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Slavutych</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1877.5</real>
			<real>1786.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>28</integer>
                <key>interval</key>
                <integer>75</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Osokorky</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>1955.55</real>
			<real>1863.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>29</integer>
                <key>interval</key>
                <integer>120</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pozniaky</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>2057.5</real>
			<real>1909.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>30</integer>
                <key>interval</key>
                <integer>110</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Kharkivska</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>2200.5</real>
			<real>1909.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>31</integer>
                <key>interval</key>
                <integer>120</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vyrlytsia</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>2307.5</real>
			<real>1871.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>32</integer>
                <key>interval</key>
                <integer>120</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Boryspilska</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<real>2376.5</real>
			<real>1802.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>33</integer>
                <key>interval</key>
                <integer>90</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Chervony Khutir</string>
		<key>line</key>
		<string>Green</string>
		<key>position</key>
		<array>
			<integer>2448</integer>
			<integer>1731</integer>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>32</integer>
                <key>interval</key>
                <integer>90</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Heroiv Dnipra</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>199.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>35</integer>
                <key>interval</key>
                <integer>210</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Minska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>303.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>36</integer>
                <key>interval</key>
                <integer>90</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Obolon</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>409.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>37</integer>
                <key>interval</key>
                <integer>130</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Petrivka</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>512.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>38</integer>
                <key>interval</key>
                <integer>145</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tarasa Shevchenka</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>605.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>39</integer>
                <key>interval</key>
                <integer>210</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Kontraktova Ploshcha</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>709.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>40</integer>
                <key>interval</key>
                <integer>80</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Poshtova Ploshcha</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>815.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>41</integer>
                <key>interval</key>
                <integer>95</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Maidan Nezalezhnosti</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1673.5</real>
			<real>938.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>42</integer>
                <key>interval</key>
                <integer>95</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ploshcha Lva Tolstoho</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1533.5</real>
			<real>1214.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>43</integer>
                <key>interval</key>
                <integer>85</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Olimpiiska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1467.5</real>
			<real>1332.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>44</integer>
                <key>interval</key>
                <integer>90</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Olimpiiska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1467.5</real>
			<real>1424.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>45</integer>
                <key>interval</key>
                <integer>75</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lybidska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1467.5</real>
			<real>1517.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>46</integer>
                <key>interval</key>
                <integer>90</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Demiivska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1380.5</real>
			<real>1664.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>47</integer>
                <key>interval</key>
                <integer>85</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Holosiivska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1312.5</real>
			<real>1729.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>48</integer>
                <key>interval</key>
                <integer>120</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vasylkivska</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1245.63</real>
			<real>1795.69</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>49</integer>
                <key>interval</key>
                <integer>180</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vystavkovyi Tsentr</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1178.5</real>
			<real>1863.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>50</integer>
                <key>interval</key>
                <integer>80</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ipodrom</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>1052.5</real>
			<real>1909.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>51</integer>
                <key>interval</key>
                <integer>130</integer>
            </dict>
        </array>
	</dict>
	<dict>
		<key>name</key>
		<string>Teremky</string>
		<key>line</key>
		<string>Blue</string>
		<key>position</key>
		<array>
			<real>887.5</real>
			<real>1908.5</real>
		</array>
		<key>labelPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>neighbors</key>
        <array>
            <dict>
                <key>station</key>
                <integer>50</integer>
                <key>interval</key>
                <integer>130</integer>
            </dict>
        </array>
	</dict>
</array>
</plist>
